# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment
.env
.env.local
.env.*.local

# Debug / OS
npm-debug.log*
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Prisma
prisma/*.db
prisma/*.db-journal

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel
